In [1]:
import pandas as pd,numpy as np
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json
import os

In [2]:
# assign path
path, dirs, files = next(os.walk("./Data/"))
file_count = len(files)

# create empty list
dataframes_list = []
 
# append datasets to the list
for i in range(file_count):
    temp_df = pd.read_csv("./Data/"+files[i])
    dataframes_list.append(temp_df)
     
# display datasets
for dataset in dataframes_list:
    display(dataset)

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2007-11-27,MUNDRAPORT,EQ,440.00,770.00,1050.00,770.00,959.0,962.90,984.72,27294366,2.687719e+15,NaN,9859619,0.3612
1,2007-11-28,MUNDRAPORT,EQ,962.90,984.00,990.00,874.00,885.0,893.90,941.38,4581338,4.312765e+14,NaN,1453278,0.3172
2,2007-11-29,MUNDRAPORT,EQ,893.90,909.00,914.75,841.00,887.0,884.20,888.09,5124121,4.550658e+14,NaN,1069678,0.2088
3,2007-11-30,MUNDRAPORT,EQ,884.20,890.00,958.00,890.00,929.0,921.55,929.17,4609762,4.283257e+14,NaN,1260913,0.2735
4,2007-12-03,MUNDRAPORT,EQ,921.55,939.75,995.00,922.00,980.0,969.30,965.65,2977470,2.875200e+14,NaN,816123,0.2741
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3317,2021-04-26,ADANIPORTS,EQ,725.35,733.00,739.65,728.90,729.2,730.75,733.25,9390549,6.885658e+14,116457.0,838079,0.0892
3318,2021-04-27,ADANIPORTS,EQ,730.75,735.00,757.50,727.35,748.6,749.15,747.67,20573107,1.538191e+15,236896.0,1779639,0.0865
3319,2021-04-28,ADANIPORTS,EQ,749.15,755.00,760.00,741.10,743.4,746.25,751.02,11156977,8.379106e+14,130847.0,1342353,0.1203
3320,2021-04-29,ADANIPORTS,EQ,746.25,753.20,765.85,743.40,746.4,746.75,753.06,13851910,1.043139e+15,153293.0,1304895,0.0942
3321,2021-04-30,ADANIPORTS,EQ,746.75,739.00,759.45,724.50,726.4,730.05,743.35,12600934,9.366911e+14,132141.0,3514692,0.2789

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,ASIANPAINT,EQ,361.20,370.0,390.00,370.00,385.0,381.65,380.54,3318,1.262617e+11,NaN,NaN,NaN
1,2000-01-04,ASIANPAINT,EQ,381.65,380.0,392.00,375.00,390.0,385.55,383.50,4818,1.847699e+11,NaN,NaN,NaN
2,2000-01-05,ASIANPAINT,EQ,385.55,371.5,390.00,371.50,383.0,383.00,379.81,2628,9.981384e+10,NaN,NaN,NaN
3,2000-01-06,ASIANPAINT,EQ,383.00,384.9,384.90,374.50,375.1,377.50,379.88,3354,1.274114e+11,NaN,NaN,NaN
4,2000-01-07,ASIANPAINT,EQ,377.50,376.0,390.00,370.00,389.0,385.70,383.38,9589,3.676275e+11,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5301,2021-04-26,ASIANPAINT,EQ,2517.95,2530.0,2575.00,2530.00,2558.0,2557.90,2557.47,1103980,2.823400e+14,58557.0,335232.0,0.3037
5302,2021-04-27,ASIANPAINT,EQ,2557.90,2545.0,2579.90,2534.00,2571.0,2574.35,2560.55,866331,2.218288e+14,66988.0,281178.0,0.3246
5303,2021-04-28,ASIANPAINT,EQ,2574.35,2588.0,2620.25,2575.00,2612.0,2614.55,2605.91,1065561,2.776752e+14,52622.0,449241.0,0.4216
5304,2021-04-29,ASIANPAINT,EQ,2614.55,2630.0,2642.00,2570.00,2613.0,2613.45,2607.33,1295346,3.377394e+14,64039.0,447979.0,0.3458
5305,2021-04-30,ASIANPAINT,EQ,2613.45,2595.0,2605.80,2524.05,2529.0,2536.40,2558.66,1384907,3.543512e+14,91934.0,750496.0,0.5419

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,UTIBANK,EQ,24.70,26.7,26.70,26.70,26.70,26.70,26.70,112100,2.993070e+11,NaN,NaN,NaN
1,2000-01-04,UTIBANK,EQ,26.70,27.0,28.70,26.50,27.00,26.85,27.24,234500,6.387275e+11,NaN,NaN,NaN
2,2000-01-05,UTIBANK,EQ,26.85,26.0,27.75,25.50,26.40,26.30,26.24,170100,4.462980e+11,NaN,NaN,NaN
3,2000-01-06,UTIBANK,EQ,26.30,25.8,27.00,25.80,25.90,25.95,26.27,102100,2.681730e+11,NaN,NaN,NaN
4,2000-01-07,UTIBANK,EQ,25.95,25.0,26.00,24.25,25.00,24.80,25.04,62600,1.567220e+11,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5301,2021-04-26,AXISBANK,EQ,671.35,694.0,703.80,684.50,699.50,700.45,695.33,21646184,1.505120e+15,286480.0,5949937.0,0.2749
5302,2021-04-27,AXISBANK,EQ,700.45,691.1,703.90,684.10,700.90,699.55,692.83,46559967,3.225830e+15,289445.0,18080082.0,0.3883
5303,2021-04-28,AXISBANK,EQ,699.55,708.0,712.50,688.15,705.95,708.15,701.92,54060587,3.794635e+15,507747.0,17851331.0,0.3302
5304,2021-04-29,AXISBANK,EQ,708.15,712.0,726.90,707.00,717.10,719.40,717.41,25939327,1.860920e+15,312079.0,7357520.0,0.2836
5305,2021-04-30,AXISBANK,EQ,719.40,705.0,729.85,705.00,711.65,714.90,719.36,23011654,1.655365e+15,232879.0,6786072.0,0.2949

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2008-05-26,BAJAJ-AUTO,EQ,2101.05,898.00,898.00,551.35,600.25,604.75,624.61,3972485,2.481245e+14,NaN,1202933,0.3028
1,2008-05-27,BAJAJ-AUTO,EQ,604.75,624.70,639.00,580.30,595.50,593.15,606.43,1751063,1.061901e+14,NaN,369389,0.2110
2,2008-05-28,BAJAJ-AUTO,EQ,593.15,561.65,621.90,561.65,605.10,608.15,608.75,1652355,1.005877e+14,NaN,898602,0.5438
3,2008-05-29,BAJAJ-AUTO,EQ,608.15,619.40,619.40,576.00,600.00,599.45,600.98,669269,4.022165e+13,NaN,449951,0.6723
4,2008-05-30,BAJAJ-AUTO,EQ,599.45,605.40,607.00,538.00,576.25,571.70,565.55,1262117,7.137937e+13,NaN,936432,0.7420
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3197,2021-04-26,BAJAJ-AUTO,EQ,3672.50,3682.20,3749.00,3676.00,3739.00,3738.85,3719.79,480016,1.785560e+14,36835.0,155563,0.3241
3198,2021-04-27,BAJAJ-AUTO,EQ,3738.85,3738.85,3798.00,3727.20,3795.00,3785.50,3764.89,518487,1.952048e+14,47765.0,140987,0.2719
3199,2021-04-28,BAJAJ-AUTO,EQ,3785.50,3810.05,3954.00,3807.00,3887.15,3889.75,3909.99,1252958,4.899048e+14,78857.0,190766,0.1523
3200,2021-04-29,BAJAJ-AUTO,EQ,3889.75,3943.00,3954.30,3807.10,3818.95,3836.45,3880.32,1335444,5.181950e+14,92106.0,168500,0.1262
3201,2021-04-30,BAJAJ-AUTO,EQ,3836.45,3805.00,3966.35,3800.00,3827.00,3833.75,3869.17,1340273,5.185744e+14,79430.0,229768,0.1714

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2008-05-26,BAJAJFINSV,EQ,2101.05,600.00,619.00,501.00,505.10,509.10,548.85,3145446,1.726368e+14,NaN,908264,0.2888
1,2008-05-27,BAJAJFINSV,EQ,509.10,505.00,610.95,491.10,564.00,554.65,572.15,4349144,2.488370e+14,NaN,677627,0.1558
2,2008-05-28,BAJAJFINSV,EQ,554.65,564.00,665.60,564.00,643.00,640.95,618.37,4588759,2.837530e+14,NaN,774895,0.1689
3,2008-05-29,BAJAJFINSV,EQ,640.95,656.65,703.00,608.00,634.50,632.40,659.60,4522302,2.982921e+14,NaN,1006161,0.2225
4,2008-05-30,BAJAJFINSV,EQ,632.40,642.40,668.00,588.30,647.00,644.00,636.41,3057669,1.945929e+14,NaN,462832,0.1514
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3196,2021-04-26,BAJAJFINSV,EQ,9916.65,9992.00,10125.00,9902.20,10000.85,10001.75,9995.72,419596,4.194163e+14,45113.0,77816,0.1855
3197,2021-04-27,BAJAJFINSV,EQ,10001.75,10000.00,10133.00,9964.70,10133.00,10091.35,10036.76,342847,3.441072e+14,40414.0,77723,0.2267
3198,2021-04-28,BAJAJFINSV,EQ,10091.35,10200.00,10615.95,10151.15,10480.00,10489.30,10445.96,1113881,1.163556e+15,126354.0,133587,0.1199
3199,2021-04-29,BAJAJFINSV,EQ,10489.30,10540.00,11300.00,10520.00,11175.45,11176.55,10980.40,1696498,1.862822e+15,165425.0,195324,0.1151
3200,2021-04-30,BAJAJFINSV,EQ,11176.55,11000.00,11225.00,10868.70,11021.00,11041.65,11081.78,835355,9.257223e+14,85986.0,129995,0.1556

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,BAJAUTOFIN,EQ,46.95,49.45,50.75,46.50,50.75,50.75,50.05,7600,3.803800e+10,NaN,NaN,NaN
1,2000-01-04,BAJAUTOFIN,EQ,50.75,53.20,53.20,47.90,48.00,48.10,48.56,5000,2.428000e+10,NaN,NaN,NaN
2,2000-01-05,BAJAUTOFIN,EQ,48.10,46.55,47.40,44.60,44.60,44.60,45.47,3500,1.591450e+10,NaN,NaN,NaN
3,2000-01-06,BAJAUTOFIN,EQ,44.60,43.50,46.00,42.10,46.00,45.25,44.43,6200,2.754750e+10,NaN,NaN,NaN
4,2000-01-07,BAJAUTOFIN,EQ,45.25,48.00,48.00,42.00,42.90,42.90,44.44,3500,1.555550e+10,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5230,2021-04-26,BAJFINANCE,EQ,4667.80,4690.00,4829.00,4690.00,4744.00,4736.55,4768.93,2903989,1.384893e+15,175366.0,768523.0,0.2646
5231,2021-04-27,BAJFINANCE,EQ,4736.55,4747.00,4889.85,4746.55,4886.00,4865.05,4818.15,2644997,1.274399e+15,148957.0,777955.0,0.2941
5232,2021-04-28,BAJFINANCE,EQ,4865.05,4915.00,5310.00,4915.00,5255.00,5280.90,5158.33,8576454,4.424018e+15,466644.0,1420176.0,0.1656
5233,2021-04-29,BAJFINANCE,EQ,5280.90,5350.00,5525.00,5330.00,5475.00,5484.85,5440.24,7258486,3.948794e+15,392154.0,1537401.0,0.2118
5234,2021-04-30,BAJFINANCE,EQ,5484.85,5350.00,5524.65,5327.70,5449.00,5451.90,5449.83,4124888,2.247992e+15,233718.0,886610.0,0.2149

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2002-02-18,BHARTI,EQ,0.00,51.90,51.90,43.50,44.70,44.35,46.00,10381190,4.775431e+13,NaN,6503775.0,0.6265
1,2002-02-19,BHARTI,EQ,44.35,45.15,45.15,41.30,41.35,41.70,42.58,3552660,1.512609e+13,NaN,1741184.0,0.4901
2,2002-02-20,BHARTI,EQ,41.70,40.60,42.80,40.25,41.20,41.25,41.56,2512964,1.044348e+13,NaN,NaN,NaN
3,2002-02-21,BHARTI,EQ,41.25,42.85,43.40,42.15,42.20,42.40,42.76,1338196,5.722681e+12,NaN,485969.0,0.3632
4,2002-02-22,BHARTI,EQ,42.40,42.65,43.60,41.10,43.35,43.30,42.75,811327,3.468413e+12,NaN,399133.0,0.4920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4769,2021-04-26,BHARTIARTL,EQ,522.60,522.75,528.50,522.75,527.20,527.55,526.12,5819893,3.061971e+14,70201.0,2682701.0,0.4610
4770,2021-04-27,BHARTIARTL,EQ,527.55,527.45,538.55,526.25,535.50,534.30,534.45,9693047,5.180449e+14,99563.0,3413478.0,0.3522
4771,2021-04-28,BHARTIARTL,EQ,534.30,535.95,548.00,535.60,543.75,544.30,542.82,11970652,6.497866e+14,125600.0,4344243.0,0.3629
4772,2021-04-29,BHARTIARTL,EQ,544.30,549.70,550.00,539.10,540.20,540.85,542.81,8683857,4.713694e+14,98579.0,3138384.0,0.3614
4773,2021-04-30,BHARTIARTL,EQ,540.85,533.50,547.00,533.50,535.50,536.75,540.94,8178192,4.423889e+14,106580.0,3045108.0,0.3723

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,BPCL,EQ,381.20,405.00,407.00,393.05,397.75,399.25,399.32,8720,3.482029e+11,NaN,NaN,NaN
1,2000-01-04,BPCL,EQ,399.25,397.75,397.75,367.40,377.45,370.50,375.71,22820,8.573699e+11,NaN,NaN,NaN
2,2000-01-05,BPCL,EQ,370.50,350.00,385.00,350.00,360.10,359.95,359.96,152538,5.490785e+12,NaN,NaN,NaN
3,2000-01-06,BPCL,EQ,359.95,362.00,384.00,362.00,381.65,380.30,380.10,59554,2.263623e+12,NaN,NaN,NaN
4,2000-01-07,BPCL,EQ,380.30,369.00,390.00,366.00,381.50,379.85,378.33,43187,1.633890e+12,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5301,2021-04-26,BPCL,EQ,423.05,426.00,428.35,417.55,417.60,418.90,421.33,6444098,2.715060e+14,68579.0,2408600.0,0.3738
5302,2021-04-27,BPCL,EQ,418.90,417.50,423.10,416.55,420.00,420.35,420.45,5408165,2.273853e+14,45282.0,2300523.0,0.4254
5303,2021-04-28,BPCL,EQ,420.35,422.00,424.35,414.90,417.15,417.50,419.33,9902533,4.152459e+14,59529.0,5176820.0,0.5228
5304,2021-04-29,BPCL,EQ,417.50,422.00,423.00,417.00,419.00,419.55,420.00,6632804,2.785775e+14,64676.0,2976829.0,0.4488
5305,2021-04-30,BPCL,EQ,419.55,417.50,437.50,414.65,422.10,421.80,428.14,16851470,7.214724e+14,195429.0,6453804.0,0.3830

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,BRITANNIA,EQ,703.25,705.00,759.50,705.0,758.0,756.90,741.01,7512,5.566488e+11,NaN,NaN,NaN
1,2000-01-04,BRITANNIA,EQ,756.90,710.00,770.00,710.0,740.0,754.55,742.52,8135,6.040391e+11,NaN,NaN,NaN
2,2000-01-05,BRITANNIA,EQ,754.55,755.00,759.00,705.0,740.0,735.30,739.92,6095,4.509784e+11,NaN,NaN,NaN
3,2000-01-06,BRITANNIA,EQ,735.30,740.00,794.15,740.0,770.0,785.65,788.83,19697,1.553756e+12,NaN,NaN,NaN
4,2000-01-07,BRITANNIA,EQ,785.65,808.00,848.50,798.0,848.5,848.50,827.53,33107,2.739708e+12,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5300,2021-04-26,BRITANNIA,EQ,3650.30,3661.10,3662.00,3531.0,3546.0,3539.20,3558.62,1031406,3.670382e+14,72258.0,507276.0,0.4918
5301,2021-04-27,BRITANNIA,EQ,3539.20,3572.70,3574.60,3517.0,3546.0,3541.20,3539.42,813608,2.879697e+14,46189.0,322686.0,0.3966
5302,2021-04-28,BRITANNIA,EQ,3541.20,3488.00,3527.00,3469.0,3470.0,3478.75,3495.13,1498181,5.236339e+14,97170.0,763715.0,0.5098
5303,2021-04-29,BRITANNIA,EQ,3478.75,3496.75,3505.90,3447.0,3464.0,3468.90,3471.18,611087,2.121195e+14,41655.0,309653.0,0.5067
5304,2021-04-30,BRITANNIA,EQ,3468.90,3460.00,3468.35,3437.0,3444.8,3449.00,3450.52,436187,1.505071e+14,34606.0,208365.0,0.4777

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,CIPLA,EQ,1349.40,1410.00,1457.35,1380.05,1457.35,1457.35,1441.36,21060,3.035496e+12,NaN,NaN,NaN
1,2000-01-04,CIPLA,EQ,1457.35,1537.00,1537.00,1430.00,1466.05,1465.25,1460.43,30215,4.412698e+12,NaN,NaN,NaN
2,2000-01-05,CIPLA,EQ,1465.25,1474.00,1474.00,1365.00,1441.00,1435.05,1428.11,33799,4.826872e+12,NaN,NaN,NaN
3,2000-01-06,CIPLA,EQ,1435.05,1434.00,1435.00,1349.00,1365.00,1355.85,1390.55,33083,4.600356e+12,NaN,NaN,NaN
4,2000-01-07,CIPLA,EQ,1355.85,1370.00,1389.90,1247.40,1247.40,1247.55,1267.49,66536,8.433351e+12,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5301,2021-04-26,CIPLA,EQ,935.60,935.60,940.00,902.15,907.95,905.40,914.11,10255697,9.374885e+14,161321.0,3451318.0,0.3365
5302,2021-04-27,CIPLA,EQ,905.40,913.00,919.50,901.00,911.20,912.40,909.22,5669049,5.154420e+14,120188.0,1126288.0,0.1987
5303,2021-04-28,CIPLA,EQ,912.40,914.35,918.00,902.95,906.25,910.20,909.94,7251009,6.597970e+14,134413.0,1772739.0,0.2445
5304,2021-04-29,CIPLA,EQ,910.20,911.95,917.40,904.00,906.00,906.50,910.22,4953091,4.508421e+14,88604.0,1122534.0,0.2266
5305,2021-04-30,CIPLA,EQ,906.50,900.75,921.00,900.75,910.00,910.35,911.47,6459737,5.887824e+14,121466.0,2004555.0,0.3103

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2010-11-04,COALINDIA,EQ,245.00,291.00,344.90,291.00,342.00,342.55,327.29,479716245,1.570040e+16,NaN,187584905,0.3910
1,2010-11-05,COALINDIA,EQ,342.55,343.00,356.50,343.00,348.30,349.85,349.78,31927173,1.116747e+15,NaN,10894509,0.3412
2,2010-11-08,COALINDIA,EQ,349.85,351.80,355.90,329.50,331.40,330.75,335.19,46932779,1.573118e+15,NaN,16651623,0.3548
3,2010-11-09,COALINDIA,EQ,330.75,330.15,333.40,325.00,325.40,326.05,327.75,23741956,7.781383e+14,NaN,12977359,0.5466
4,2010-11-10,COALINDIA,EQ,326.05,325.40,327.80,320.05,321.30,322.80,323.78,21057129,6.817982e+14,NaN,6280335,0.2983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2593,2021-04-26,COALINDIA,EQ,126.15,127.75,128.00,126.50,127.00,126.95,127.30,4967884,6.324104e+13,29393.0,1755583,0.3534
2594,2021-04-27,COALINDIA,EQ,126.95,127.00,127.90,126.60,127.55,127.50,127.47,3982954,5.077023e+13,28486.0,1521312,0.3820
2595,2021-04-28,COALINDIA,EQ,127.50,128.00,129.45,127.50,128.50,128.50,128.67,6206074,7.985049e+13,32352.0,1981995,0.3194
2596,2021-04-29,COALINDIA,EQ,128.50,129.75,130.05,127.65,127.95,128.05,128.46,8345584,1.072040e+14,37445.0,3185650,0.3817
2597,2021-04-30,COALINDIA,EQ,128.05,127.40,134.60,127.00,133.00,133.05,132.61,27396950,3.633107e+14,103147.0,6859319,0.2504

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,DRREDDY,EQ,1396.50,1505.00,1508.25,1505.00,1508.25,1508.25,1508.21,13280,2.002904e+12,NaN,NaN,NaN
1,2000-01-04,DRREDDY,EQ,1508.25,1590.00,1628.95,1510.00,1628.95,1628.95,1579.29,57142,9.024405e+12,NaN,NaN,NaN
2,2000-01-05,DRREDDY,EQ,1628.95,1549.00,1650.00,1499.00,1566.00,1568.05,1594.99,119697,1.909155e+13,NaN,NaN,NaN
3,2000-01-06,DRREDDY,EQ,1568.05,1599.00,1693.50,1571.00,1693.50,1661.55,1632.11,121966,1.990625e+13,NaN,NaN,NaN
4,2000-01-07,DRREDDY,EQ,1661.55,1685.00,1685.00,1528.65,1528.65,1529.10,1585.24,79641,1.262497e+13,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5301,2021-04-26,DRREDDY,EQ,5066.70,5125.00,5130.00,5030.25,5067.00,5066.70,5078.16,950577,4.827178e+14,70675.0,217218.0,0.2285
5302,2021-04-27,DRREDDY,EQ,5066.70,5090.50,5116.00,5021.35,5062.00,5057.25,5065.33,957835,4.851746e+14,64767.0,260296.0,0.2718
5303,2021-04-28,DRREDDY,EQ,5057.25,5082.55,5106.90,5030.00,5048.00,5044.45,5065.54,843953,4.275075e+14,69716.0,184756.0,0.2189
5304,2021-04-29,DRREDDY,EQ,5044.45,5070.25,5144.00,5042.30,5106.00,5102.30,5098.90,1071931,5.465666e+14,74199.0,211996.0,0.1978
5305,2021-04-30,DRREDDY,EQ,5102.30,5140.00,5211.00,5125.15,5169.00,5163.10,5170.81,1306950,6.757985e+14,80394.0,398563.0,0.3050

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,EICHERMOT,EQ,45.20,48.00,48.85,48.00,48.85,48.85,48.75,4100,1.998700e+10,NaN,NaN,NaN
1,2000-01-04,EICHERMOT,EQ,48.85,52.00,52.75,50.15,51.80,51.40,51.44,49100,2.525880e+11,NaN,NaN,NaN
2,2000-01-05,EICHERMOT,EQ,51.40,55.00,55.55,51.05,55.55,55.55,53.99,47800,2.580730e+11,NaN,NaN,NaN
3,2000-01-06,EICHERMOT,EQ,55.55,59.75,60.00,57.30,60.00,60.00,59.75,106200,6.345465e+11,NaN,NaN,NaN
4,2000-01-07,EICHERMOT,EQ,60.00,64.00,64.80,60.10,64.80,64.65,64.08,115500,7.401300e+11,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5296,2021-04-26,EICHERMOT,EQ,2317.30,2329.50,2376.15,2329.50,2366.55,2369.85,2359.51,1330072,3.138312e+14,40310.0,717589.0,0.5395
5297,2021-04-27,EICHERMOT,EQ,2369.85,2369.85,2407.00,2366.70,2407.00,2400.10,2388.53,523800,1.251111e+14,32757.0,167254.0,0.3193
5298,2021-04-28,EICHERMOT,EQ,2400.10,2428.00,2540.00,2410.15,2516.00,2521.20,2497.26,1681975,4.200329e+14,81182.0,282675.0,0.1681
5299,2021-04-29,EICHERMOT,EQ,2521.20,2526.00,2547.25,2452.90,2463.00,2462.90,2492.68,1170842,2.918529e+14,64817.0,331074.0,0.2828
5300,2021-04-30,EICHERMOT,EQ,2462.90,2442.00,2470.25,2414.00,2419.95,2421.65,2437.93,646257,1.575531e+14,43516.0,196649.0,0.3043

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,GAIL,EQ,67.80,65.00,70.00,65.00,68.80,68.70,67.91,76055,5.165166e+11,NaN,NaN,NaN
1,2000-01-04,GAIL,EQ,68.70,69.85,72.90,66.00,67.00,66.35,67.29,98097,6.600457e+11,NaN,NaN,NaN
2,2000-01-05,GAIL,EQ,66.35,68.35,68.70,61.10,63.00,63.20,65.24,92690,6.046889e+11,NaN,NaN,NaN
3,2000-01-06,GAIL,EQ,63.20,64.80,67.00,63.00,64.75,64.95,65.55,173654,1.138299e+12,NaN,NaN,NaN
4,2000-01-07,GAIL,EQ,64.95,65.90,65.90,62.00,62.90,62.65,63.76,86590,5.521388e+11,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4980,2021-04-26,GAIL,EQ,129.40,130.70,132.00,129.75,129.90,130.00,130.30,6020366,7.844301e+13,25764.0,1797932.0,0.2986
4981,2021-04-27,GAIL,EQ,130.00,130.00,132.80,130.00,132.00,131.55,131.77,11823364,1.557963e+14,63157.0,4634336.0,0.3920
4982,2021-04-28,GAIL,EQ,131.55,132.50,134.00,132.00,133.00,133.35,133.15,6883321,9.165185e+13,30092.0,1535460.0,0.2231
4983,2021-04-29,GAIL,EQ,133.35,134.70,136.40,133.30,134.75,134.80,134.71,9284829,1.250750e+14,35454.0,3062615.0,0.3299
4984,2021-04-30,GAIL,EQ,134.80,133.45,141.45,132.30,137.25,137.20,138.26,21349478,2.951761e+14,70416.0,5417740.0,0.2538

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,GRASIM,EQ,405.80,429.90,438.3,425.00,438.30,438.30,432.24,101578,4.390621e+12,NaN,NaN,NaN
1,2000-01-04,GRASIM,EQ,438.30,437.50,440.0,420.05,439.50,437.15,428.27,126117,5.401216e+12,NaN,NaN,NaN
2,2000-01-05,GRASIM,EQ,437.15,420.10,447.9,412.00,430.00,439.60,436.10,163877,7.146660e+12,NaN,NaN,NaN
3,2000-01-06,GRASIM,EQ,439.60,449.90,474.8,449.90,474.80,474.80,474.68,44248,2.100384e+12,NaN,NaN,NaN
4,2000-01-07,GRASIM,EQ,474.80,472.00,512.8,472.00,512.80,512.80,512.61,188564,9.666049e+12,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5301,2021-04-26,GRASIM,EQ,1278.10,1285.00,1321.0,1285.00,1320.00,1312.35,1303.61,1233546,1.608066e+14,36437.0,383238.0,0.3107
5302,2021-04-27,GRASIM,EQ,1312.35,1320.00,1339.2,1308.00,1338.00,1331.20,1323.07,1236334,1.635755e+14,48465.0,447553.0,0.3620
5303,2021-04-28,GRASIM,EQ,1331.20,1337.45,1349.0,1321.15,1347.25,1341.15,1337.11,1283746,1.716511e+14,33235.0,618386.0,0.4817
5304,2021-04-29,GRASIM,EQ,1341.15,1354.40,1369.5,1332.30,1352.00,1350.70,1348.65,1793007,2.418143e+14,52053.0,872179.0,0.4864
5305,2021-04-30,GRASIM,EQ,1350.70,1342.00,1407.4,1333.00,1401.10,1401.75,1386.13,3261678,4.521116e+14,87943.0,1445017.0,0.4430

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-11,HCLTECH,EQ,580.00,1550.0,1725.00,1492.00,1560.00,1554.45,1582.72,1192200,1.886915e+14,NaN,NaN,NaN
1,2000-01-12,HCLTECH,EQ,1554.45,1560.0,1678.85,1560.00,1678.85,1678.85,1657.05,344850,5.714349e+13,NaN,NaN,NaN
2,2000-01-13,HCLTECH,EQ,1678.85,1790.0,1813.20,1781.00,1813.20,1813.20,1804.69,53000,9.564880e+12,NaN,NaN,NaN
3,2000-01-14,HCLTECH,EQ,1813.20,1958.3,1958.30,1835.00,1958.30,1958.30,1939.90,270950,5.256169e+13,NaN,NaN,NaN
4,2000-01-17,HCLTECH,EQ,1958.30,2115.0,2115.00,1801.65,1801.65,1801.65,1990.55,428800,8.535473e+13,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5295,2021-04-26,HCLTECH,EQ,955.65,940.0,954.50,923.05,930.00,928.80,931.70,19619972,1.827997e+15,311431.0,9218485.0,0.4699
5296,2021-04-27,HCLTECH,EQ,928.80,931.0,938.55,923.40,930.30,928.85,928.06,6406825,5.945938e+14,180458.0,3233276.0,0.5047
5297,2021-04-28,HCLTECH,EQ,928.85,931.2,935.85,921.75,925.90,923.80,926.63,6845677,6.343403e+14,228230.0,3890178.0,0.5683
5298,2021-04-29,HCLTECH,EQ,923.80,929.7,929.70,907.10,910.30,909.55,914.34,8588734,7.852988e+14,363122.0,4041614.0,0.4706
5299,2021-04-30,HCLTECH,EQ,909.55,905.0,915.00,895.40,900.10,898.95,904.98,10921664,9.883911e+14,465056.0,6189272.0,0.5667

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,HDFC,EQ,271.75,293.50,293.50,293.50,293.50,293.50,293.50,22744,6.675364e+11,NaN,NaN,NaN
1,2000-01-04,HDFC,EQ,293.50,317.00,317.00,297.00,304.00,304.05,303.62,255251,7.749972e+12,NaN,NaN,NaN
2,2000-01-05,HDFC,EQ,304.05,290.00,303.90,285.00,295.00,292.80,294.53,269087,7.925368e+12,NaN,NaN,NaN
3,2000-01-06,HDFC,EQ,292.80,301.00,314.00,295.00,296.00,296.45,300.14,305916,9.181669e+12,NaN,NaN,NaN
4,2000-01-07,HDFC,EQ,296.45,290.00,296.35,281.00,287.10,286.55,288.80,197039,5.690480e+12,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5301,2021-04-26,HDFC,EQ,2497.35,2500.00,2534.10,2483.20,2502.00,2509.80,2508.07,3916088,9.821805e+14,121028.0,2440395.0,0.6232
5302,2021-04-27,HDFC,EQ,2509.80,2494.15,2526.80,2486.25,2514.00,2518.40,2509.18,2040799,5.120730e+14,102250.0,1040749.0,0.5100
5303,2021-04-28,HDFC,EQ,2518.40,2516.10,2609.00,2508.30,2575.00,2577.00,2574.21,3407461,8.771527e+14,117425.0,1815110.0,0.5327
5304,2021-04-29,HDFC,EQ,2577.00,2590.90,2628.00,2533.00,2539.70,2538.85,2569.65,3005468,7.722995e+14,132826.0,1472924.0,0.4901
5305,2021-04-30,HDFC,EQ,2538.85,2503.10,2525.00,2411.10,2433.25,2420.10,2445.94,6024595,1.473581e+15,224454.0,3839105.0,0.6372

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,HDFCBANK,EQ,157.40,166.00,170.00,166.00,170.00,170.00,169.52,33259,5.638122e+11,NaN,NaN,NaN
1,2000-01-04,HDFCBANK,EQ,170.00,182.00,183.45,171.00,174.00,173.80,174.99,168710,2.952261e+12,NaN,NaN,NaN
2,2000-01-05,HDFCBANK,EQ,173.80,170.00,173.90,165.00,168.00,166.95,169.20,159820,2.704094e+12,NaN,NaN,NaN
3,2000-01-06,HDFCBANK,EQ,166.95,168.00,170.00,165.30,168.95,168.30,168.44,85026,1.432166e+12,NaN,NaN,NaN
4,2000-01-07,HDFCBANK,EQ,168.30,162.15,171.00,162.15,170.75,168.35,166.79,85144,1.420158e+12,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5301,2021-04-26,HDFCBANK,EQ,1414.15,1413.00,1429.00,1402.75,1407.55,1404.80,1413.19,15085476,2.131861e+15,291268.0,9791881.0,0.6491
5302,2021-04-27,HDFCBANK,EQ,1404.80,1407.25,1442.00,1404.80,1435.05,1438.70,1430.40,10296453,1.472810e+15,233200.0,5650216.0,0.5488
5303,2021-04-28,HDFCBANK,EQ,1438.70,1436.25,1479.00,1431.00,1475.00,1476.80,1463.19,12051970,1.763438e+15,197146.0,7196647.0,0.5971
5304,2021-04-29,HDFCBANK,EQ,1476.80,1486.20,1503.65,1461.00,1471.65,1472.50,1481.15,12039276,1.783196e+15,252296.0,4818551.0,0.4002
5305,2021-04-30,HDFCBANK,EQ,1472.50,1445.00,1453.80,1407.50,1412.90,1412.30,1421.13,17616451,2.503529e+15,447876.0,8982938.0,0.5099

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,HEROHONDA,EQ,1145.20,1200.00,1236.80,1171.00,1209.95,1207.60,1209.11,10631,1.285401e+12,NaN,NaN,NaN
1,2000-01-04,HEROHONDA,EQ,1207.60,1200.00,1220.00,1176.00,1200.00,1199.85,1200.93,19849,2.383719e+12,NaN,NaN,NaN
2,2000-01-05,HEROHONDA,EQ,1199.85,1155.00,1178.00,1140.00,1140.00,1143.80,1159.74,2525,2.928355e+11,NaN,NaN,NaN
3,2000-01-06,HEROHONDA,EQ,1143.80,1183.00,1189.95,1150.25,1165.00,1161.40,1167.29,4375,5.106887e+11,NaN,NaN,NaN
4,2000-01-07,HEROHONDA,EQ,1161.40,1140.00,1140.00,1069.00,1105.00,1106.55,1103.52,9093,1.003429e+12,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5301,2021-04-26,HEROMOTOCO,EQ,2864.05,2860.05,2878.40,2830.00,2865.05,2864.55,2855.14,831133,2.373003e+14,46378.0,406724.0,0.4894
5302,2021-04-27,HEROMOTOCO,EQ,2864.55,2875.00,2939.00,2870.25,2912.00,2905.50,2912.01,811184,2.362178e+14,57761.0,222680.0,0.2745
5303,2021-04-28,HEROMOTOCO,EQ,2905.50,2928.00,3009.00,2915.05,2932.00,2926.25,2964.25,1389833,4.119816e+14,67349.0,246401.0,0.1773
5304,2021-04-29,HEROMOTOCO,EQ,2926.25,2963.80,2963.80,2850.05,2857.00,2860.10,2886.24,1009327,2.913165e+14,60682.0,318216.0,0.3153
5305,2021-04-30,HEROMOTOCO,EQ,2860.10,2834.80,2860.00,2805.00,2818.00,2819.15,2833.08,670258,1.898897e+14,50970.0,302022.0,0.4506

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,HINDALC0,EQ,813.45,851.00,878.50,851.0,869.00,867.45,869.86,33799,2.940055e+12,NaN,NaN,NaN
1,2000-01-04,HINDALC0,EQ,867.45,879.00,930.00,870.0,900.00,900.35,903.51,70944,6.409848e+12,NaN,NaN,NaN
2,2000-01-05,HINDALC0,EQ,900.35,835.00,972.40,835.0,972.40,972.35,949.32,153030,1.452744e+13,NaN,NaN,NaN
3,2000-01-06,HINDALC0,EQ,972.35,1050.15,1050.15,1015.1,1045.00,1048.45,1047.08,129708,1.358144e+13,NaN,NaN,NaN
4,2000-01-07,HINDALC0,EQ,1048.45,1096.00,1120.00,1015.0,1086.00,1094.95,1085.24,138829,1.506623e+13,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5301,2021-04-26,HINDALCO,EQ,349.50,353.00,358.25,345.5,348.60,348.35,351.91,16472269,5.796822e+14,113431.0,7186409.0,0.4363
5302,2021-04-27,HINDALCO,EQ,348.35,350.10,370.00,350.1,366.00,366.25,365.09,41263319,1.506467e+15,307599.0,8981182.0,0.2177
5303,2021-04-28,HINDALCO,EQ,366.25,368.85,368.90,358.0,362.45,362.60,361.61,15197329,5.495571e+14,126873.0,3077711.0,0.2025
5304,2021-04-29,HINDALCO,EQ,362.60,367.40,377.30,364.6,370.50,372.15,370.70,34391622,1.274898e+15,237157.0,6771282.0,0.1969
5305,2021-04-30,HINDALCO,EQ,372.15,368.90,377.00,361.3,363.65,364.40,368.96,19935239,7.355374e+14,149528.0,4268054.0,0.2141

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,HINDLEVER,EQ,2136.60,2300.0,2307.55,2300.00,2307.55,2307.55,2307.08,24903,5.745330e+12,NaN,NaN,NaN
1,2000-01-04,HINDLEVER,EQ,2307.55,2381.0,2381.00,2250.00,2270.00,2281.05,2298.15,58514,1.344740e+13,NaN,NaN,NaN
2,2000-01-05,HINDLEVER,EQ,2281.05,2200.0,2250.00,2105.00,2183.50,2199.90,2211.17,80296,1.775482e+13,NaN,NaN,NaN
3,2000-01-06,HINDLEVER,EQ,2199.90,2224.9,2360.00,2210.00,2300.00,2288.20,2301.80,190032,4.374157e+13,NaN,NaN,NaN
4,2000-01-07,HINDLEVER,EQ,2288.20,2300.0,2452.00,2282.25,2395.00,2412.95,2380.24,192582,4.583919e+13,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5301,2021-04-26,HINDUNILVR,EQ,2307.75,2324.0,2369.80,2311.00,2367.70,2360.65,2340.89,1946867,4.557405e+14,85684.0,1289103.0,0.6621
5302,2021-04-27,HINDUNILVR,EQ,2360.65,2363.0,2386.45,2352.95,2378.00,2379.85,2374.40,1668456,3.961583e+14,84641.0,1089882.0,0.6532
5303,2021-04-28,HINDUNILVR,EQ,2379.85,2380.0,2445.00,2366.30,2404.00,2406.55,2414.15,1951215,4.710522e+14,84910.0,1024216.0,0.5249
5304,2021-04-29,HINDUNILVR,EQ,2406.55,2433.0,2448.95,2384.15,2422.15,2407.60,2419.82,3151150,7.625230e+14,141048.0,946648.0,0.3004
5305,2021-04-30,HINDUNILVR,EQ,2407.60,2410.0,2442.90,2330.25,2350.00,2353.75,2363.99,4010778,9.481448e+14,170223.0,2038288.0,0.5082

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,ICICIBANK,EQ,69.20,74.35,74.75,71.40,74.75,74.75,73.20,286260,2.095439e+12,NaN,NaN,NaN
1,2000-01-04,ICICIBANK,EQ,74.75,73.05,78.50,71.00,73.25,73.05,73.38,296264,2.173893e+12,NaN,NaN,NaN
2,2000-01-05,ICICIBANK,EQ,73.05,70.00,73.50,67.50,70.00,69.50,70.85,227624,1.612794e+12,NaN,NaN,NaN
3,2000-01-06,ICICIBANK,EQ,69.50,71.00,74.00,69.55,69.75,70.05,72.04,275149,1.982121e+12,NaN,NaN,NaN
4,2000-01-07,ICICIBANK,EQ,70.05,69.00,72.50,66.00,67.00,67.40,68.72,138809,9.538882e+11,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5301,2021-04-26,ICICIBANK,EQ,569.95,602.00,605.50,588.00,588.70,591.10,596.22,62584522,3.731429e+15,546696.0,16913351.0,0.2702
5302,2021-04-27,ICICIBANK,EQ,591.10,593.25,601.95,591.10,599.00,598.75,597.63,24239685,1.448630e+15,233412.0,9056247.0,0.3736
5303,2021-04-28,ICICIBANK,EQ,598.75,598.00,622.80,598.00,619.70,621.35,612.57,33292864,2.039422e+15,295406.0,14011476.0,0.4209
5304,2021-04-29,ICICIBANK,EQ,621.35,622.55,628.45,609.00,621.00,621.45,619.55,34537860,2.139792e+15,304029.0,10324897.0,0.2989
5305,2021-04-30,ICICIBANK,EQ,621.45,610.10,616.35,598.10,599.70,600.50,607.02,23653258,1.435801e+15,247055.0,7292392.0,0.3083

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,INDUSINDBK,EQ,26.80,28.90,28.95,28.00,28.95,28.95,28.69,107224,3.075827e+11,NaN,NaN,NaN
1,2000-01-04,INDUSINDBK,EQ,28.95,30.85,31.25,27.90,30.60,30.25,29.12,182693,5.320731e+11,NaN,NaN,NaN
2,2000-01-05,INDUSINDBK,EQ,30.25,29.90,30.00,27.85,28.45,28.15,28.72,162820,4.675717e+11,NaN,NaN,NaN
3,2000-01-06,INDUSINDBK,EQ,28.15,29.25,29.35,27.95,27.95,28.00,28.55,87901,2.510007e+11,NaN,NaN,NaN
4,2000-01-07,INDUSINDBK,EQ,28.00,27.20,28.00,26.50,27.20,27.05,27.09,65684,1.779190e+11,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4980,2021-04-26,INDUSINDBK,EQ,850.00,857.00,870.95,851.45,859.00,859.55,861.04,4894557,4.214417e+14,89276.0,637531.0,0.1303
4981,2021-04-27,INDUSINDBK,EQ,859.55,859.55,886.00,859.00,883.55,882.45,873.46,5202133,4.543845e+14,96508.0,1095365.0,0.2106
4982,2021-04-28,INDUSINDBK,EQ,882.45,890.00,931.00,888.00,925.90,926.90,914.54,9935828,9.086735e+14,179909.0,1616632.0,0.1627
4983,2021-04-29,INDUSINDBK,EQ,926.90,936.85,958.85,917.10,942.45,939.45,936.94,12187280,1.141878e+15,201702.0,1453609.0,0.1193
4984,2021-04-30,INDUSINDBK,EQ,939.45,928.00,948.50,915.10,934.95,934.95,936.92,7301455,6.840900e+14,117673.0,962818.0,0.1319

Empty DataFrame
Columns: [Date, Symbol, Series, Prev Close, Open, High, Low, Last, Close, VWAP, Volume, Turnover, Trades, Deliverable Volume, %Deliverble]
Index: []

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,INFOSYSTCH,EQ,14467.75,15625.00,15625.20,15625.00,15625.20,15625.20,15625.18,5137,8.026657e+12,NaN,NaN,NaN
1,2000-01-04,INFOSYSTCH,EQ,15625.20,16800.00,16875.25,16253.00,16875.25,16855.90,16646.38,56186,9.352937e+13,NaN,NaN,NaN
2,2000-01-05,INFOSYSTCH,EQ,16855.90,15701.00,16250.00,15507.45,15507.45,15507.45,15786.38,164605,2.598516e+14,NaN,NaN,NaN
3,2000-01-06,INFOSYSTCH,EQ,15507.45,15256.65,15300.00,14266.85,14266.85,14266.85,14462.82,81997,1.185908e+14,NaN,NaN,NaN
4,2000-01-07,INFOSYSTCH,EQ,14266.85,13125.50,13125.50,13125.50,13125.50,13125.50,13125.50,7589,9.960942e+12,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5301,2021-04-26,INFY,EQ,1333.80,1332.25,1351.30,1321.00,1345.00,1343.55,1343.19,7088606,9.521361e+14,130375.0,4218129.0,0.5951
5302,2021-04-27,INFY,EQ,1343.55,1346.00,1353.00,1340.15,1347.50,1348.50,1346.89,3636115,4.897445e+14,145974.0,1871084.0,0.5146
5303,2021-04-28,INFY,EQ,1348.50,1358.00,1359.50,1344.60,1355.80,1356.00,1353.45,4879234,6.603778e+14,137376.0,2857134.0,0.5856
5304,2021-04-29,INFY,EQ,1356.00,1368.00,1369.00,1351.40,1356.00,1356.35,1360.05,5412357,7.361090e+14,119277.0,3130945.0,0.5785
5305,2021-04-30,INFY,EQ,1356.35,1346.30,1373.90,1345.90,1348.60,1354.35,1361.16,8354677,1.137203e+15,131718.0,5408113.0,0.6473

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,IOC,EQ,254.00,260.00,273.25,250.00,267.35,270.85,258.55,23700,6.127648e+11,NaN,NaN,NaN
1,2000-01-04,IOC,EQ,270.85,260.00,268.00,254.10,267.00,264.40,259.80,24400,6.339112e+11,NaN,NaN,NaN
2,2000-01-05,IOC,EQ,264.40,264.90,265.00,257.00,261.35,261.30,260.66,18900,4.926382e+11,NaN,NaN,NaN
3,2000-01-06,IOC,EQ,261.30,258.00,263.00,256.05,263.00,260.10,259.81,18150,4.715515e+11,NaN,NaN,NaN
4,2000-01-07,IOC,EQ,260.10,259.90,267.00,253.25,267.00,264.45,260.11,17650,4.590902e+11,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5301,2021-04-26,IOC,EQ,88.05,88.70,88.80,87.75,88.20,88.20,88.28,7066681,6.238778e+13,31742.0,2065036.0,0.2922
5302,2021-04-27,IOC,EQ,88.20,88.20,89.10,88.20,88.90,88.85,88.76,8752415,7.768566e+13,36649.0,3038898.0,0.3472
5303,2021-04-28,IOC,EQ,88.85,89.20,89.55,89.00,89.30,89.40,89.29,6336704,5.657990e+13,28905.0,2147333.0,0.3389
5304,2021-04-29,IOC,EQ,89.40,90.25,90.50,88.70,88.75,88.90,89.53,8957163,8.019050e+13,39431.0,3013420.0,0.3364
5305,2021-04-30,IOC,EQ,88.90,88.60,93.10,88.00,90.80,90.85,91.47,29815698,2.727108e+14,89345.0,6554327.0,0.2198

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,ITC,EQ,656.00,694.00,708.50,675.00,708.50,708.50,701.81,562715,3.949174e+13,NaN,NaN,NaN
1,2000-01-04,ITC,EQ,708.50,714.00,729.00,694.30,710.65,712.35,714.16,712637,5.089379e+13,NaN,NaN,NaN
2,2000-01-05,ITC,EQ,712.35,716.25,758.90,660.00,731.00,726.20,732.43,1382149,1.012325e+14,NaN,NaN,NaN
3,2000-01-06,ITC,EQ,726.20,741.00,784.30,741.00,784.30,784.30,776.63,721618,5.604266e+13,NaN,NaN,NaN
4,2000-01-07,ITC,EQ,784.30,832.40,847.05,824.00,847.05,847.05,841.25,231209,1.945046e+13,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5301,2021-04-26,ITC,EQ,205.35,205.80,206.75,204.70,205.50,205.30,205.64,19886214,4.089370e+14,103777.0,11449231.0,0.5757
5302,2021-04-27,ITC,EQ,205.30,205.30,206.95,205.05,205.50,205.40,205.85,11444814,2.355887e+14,94890.0,4863874.0,0.4250
5303,2021-04-28,ITC,EQ,205.40,206.00,206.50,205.30,205.65,205.50,205.96,12708021,2.617327e+14,69476.0,7221020.0,0.5682
5304,2021-04-29,ITC,EQ,205.50,207.10,207.55,204.05,204.40,204.30,205.37,13096755,2.689642e+14,95800.0,5887019.0,0.4495
5305,2021-04-30,ITC,EQ,204.30,203.90,205.70,202.00,202.40,202.60,203.73,16495657,3.360649e+14,124300.0,8268973.0,0.5013

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2005-03-23,JSWSTL,EQ,10.00,455.00,458.50,383.60,386.90,390.15,419.86,2087710,8.765375e+13,NaN,382057,0.1830
1,2005-03-24,JSWSTL,EQ,390.15,392.85,398.50,357.50,371.80,369.20,372.01,1226479,4.562638e+13,NaN,232172,0.1893
2,2005-03-28,JSWSTL,EQ,369.20,376.70,394.05,375.00,380.00,378.85,383.64,1235794,4.741048e+13,NaN,263415,0.2132
3,2005-03-29,JSWSTL,EQ,378.85,382.90,383.80,363.25,369.10,368.05,375.26,624072,2.341915e+13,NaN,198916,0.3187
4,2005-03-30,JSWSTL,EQ,368.05,367.00,371.90,360.05,362.70,362.15,365.13,466349,1.702775e+13,NaN,159641,0.3423
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3989,2021-04-26,JSWSTEEL,EQ,635.40,642.00,660.70,638.25,657.00,655.80,651.46,16506538,1.075335e+15,186271.0,1837617,0.1113
3990,2021-04-27,JSWSTEEL,EQ,655.80,660.65,670.35,658.00,666.35,665.90,664.15,15799458,1.049323e+15,174214.0,1222165,0.0774
3991,2021-04-28,JSWSTEEL,EQ,665.90,669.75,676.00,650.65,662.50,662.65,661.63,15558949,1.029430e+15,175365.0,2366037,0.1521
3992,2021-04-29,JSWSTEEL,EQ,662.65,672.00,728.90,668.05,726.20,726.50,704.40,56816962,4.002173e+15,531808.0,5065568,0.0892
3993,2021-04-30,JSWSTEEL,EQ,726.50,719.60,740.00,711.45,713.70,717.85,723.92,36449711,2.638675e+15,376696.0,3416355,0.0937

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,KOTAKMAH,EQ,212.35,220.0,229.35,220.00,229.35,229.35,229.13,7086,1.623640e+11,NaN,NaN,NaN
1,2000-01-04,KOTAKMAH,EQ,229.35,247.7,247.70,225.25,247.70,246.95,244.12,73681,1.798729e+12,NaN,NaN,NaN
2,2000-01-05,KOTAKMAH,EQ,246.95,229.0,240.00,227.20,228.00,228.40,233.75,105799,2.473093e+12,NaN,NaN,NaN
3,2000-01-06,KOTAKMAH,EQ,228.40,235.1,239.00,217.00,224.95,225.90,226.84,40202,9.119546e+11,NaN,NaN,NaN
4,2000-01-07,KOTAKMAH,EQ,225.90,213.0,219.00,207.85,207.85,208.85,209.94,24463,5.135747e+11,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4980,2021-04-26,KOTAKBANK,EQ,1734.20,1740.0,1783.00,1733.30,1761.85,1759.65,1766.82,3253062,5.747583e+14,94734.0,1795465.0,0.5519
4981,2021-04-27,KOTAKBANK,EQ,1759.65,1750.0,1762.60,1724.55,1753.05,1750.30,1740.41,4533360,7.889887e+14,133983.0,2353189.0,0.5191
4982,2021-04-28,KOTAKBANK,EQ,1750.30,1762.5,1824.00,1754.00,1815.00,1811.45,1798.00,4174599,7.505945e+14,118297.0,2170192.0,0.5199
4983,2021-04-29,KOTAKBANK,EQ,1811.45,1825.1,1845.45,1780.55,1802.60,1805.00,1811.62,3960095,7.174186e+14,148490.0,1482157.0,0.3743
4984,2021-04-30,KOTAKBANK,EQ,1805.00,1780.0,1802.00,1739.45,1743.75,1748.80,1775.65,2621783,4.655364e+14,105233.0,1075787.0,0.4103

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2004-06-23,LT,EQ,2.00,500.00,745.00,150.0,638.00,635.95,627.71,2699293,1.694372e+14,NaN,395612,0.1466
1,2004-06-24,LT,EQ,635.95,630.00,630.00,608.4,612.00,616.00,618.21,913575,5.647802e+13,NaN,305751,0.3347
2,2004-06-25,LT,EQ,616.00,619.00,679.00,616.1,665.00,668.30,658.45,1637383,1.078136e+14,NaN,217950,0.1331
3,2004-06-28,LT,EQ,668.30,660.00,671.90,640.2,653.00,656.40,657.39,913349,6.004271e+13,NaN,194984,0.2135
4,2004-06-29,LT,EQ,656.40,656.00,683.40,653.0,666.85,671.70,675.11,743063,5.016488e+13,NaN,101786,0.1370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4179,2021-04-26,LT,EQ,1322.90,1330.05,1341.20,1323.0,1339.00,1335.90,1334.93,1431562,1.911037e+14,52965.0,518221,0.3620
4180,2021-04-27,LT,EQ,1335.90,1339.00,1388.45,1335.9,1384.00,1380.65,1370.45,4303909,5.898288e+14,128988.0,1899385,0.4413
4181,2021-04-28,LT,EQ,1380.65,1384.85,1399.95,1372.5,1374.15,1375.90,1383.54,3220346,4.455488e+14,88395.0,1638109,0.5087
4182,2021-04-29,LT,EQ,1375.90,1383.95,1389.55,1353.5,1358.80,1358.65,1366.40,2221346,3.035242e+14,71953.0,1070434,0.4819
4183,2021-04-30,LT,EQ,1358.65,1350.00,1365.00,1336.1,1340.05,1340.45,1349.74,1968093,2.656419e+14,63130.0,953902,0.4847

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2003-07-09,MARUTI,EQ,125.00,164.90,170.40,155.00,164.00,164.30,165.95,35164283,5.835528e+14,NaN,8537695.0,0.2428
1,2003-07-10,MARUTI,EQ,164.30,167.00,168.70,164.50,167.00,167.00,166.74,10464179,1.744820e+14,NaN,4363947.0,0.4170
2,2003-07-11,MARUTI,EQ,167.00,167.75,174.85,166.25,173.60,173.35,172.45,11740117,2.024622e+14,NaN,3014852.0,0.2568
3,2003-07-14,MARUTI,EQ,173.35,174.25,179.25,174.25,178.60,177.95,177.91,5982324,1.064313e+14,NaN,1949217.0,0.3258
4,2003-07-15,MARUTI,EQ,177.95,200.00,200.00,173.00,176.30,176.20,176.88,6173689,1.092001e+14,NaN,1307694.0,0.2118
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4422,2021-04-26,MARUTI,EQ,6676.10,6690.20,6789.00,6600.00,6645.00,6638.90,6678.34,937344,6.259903e+14,74474.0,464999.0,0.4961
4423,2021-04-27,MARUTI,EQ,6638.90,6669.95,6709.00,6542.00,6552.00,6568.75,6620.68,1610651,1.066360e+15,130986.0,588617.0,0.3655
4424,2021-04-28,MARUTI,EQ,6568.75,6568.75,6650.00,6545.00,6581.00,6573.80,6598.62,1406270,9.279437e+14,117843.0,672435.0,0.4782
4425,2021-04-29,MARUTI,EQ,6573.80,6635.00,6647.45,6552.00,6562.00,6565.65,6580.77,757075,4.982135e+14,64393.0,352987.0,0.4663
4426,2021-04-30,MARUTI,EQ,6565.65,6537.10,6559.60,6421.00,6438.35,6455.65,6500.51,849997,5.525418e+14,95248.0,382594.0,0.4501

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,M&M,EQ,419.75,453.30,453.35,448.90,453.35,453.35,453.18,67195,3.045174e+12,NaN,NaN,NaN
1,2000-01-04,M&M,EQ,453.35,489.60,489.65,489.60,489.65,489.65,489.65,37470,1.834710e+12,NaN,NaN,NaN
2,2000-01-05,M&M,EQ,489.65,528.85,528.85,451.15,519.00,514.85,521.37,227621,1.186745e+13,NaN,NaN,NaN
3,2000-01-06,M&M,EQ,514.85,528.00,550.00,518.00,521.00,524.55,538.27,198870,1.070456e+13,NaN,NaN,NaN
4,2000-01-07,M&M,EQ,524.55,515.00,522.00,490.00,498.90,496.40,508.09,91052,4.626258e+12,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5301,2021-04-26,M&M,EQ,777.90,780.00,793.30,775.65,779.80,780.50,782.35,3528851,2.760782e+14,87675.0,1196409.0,0.3390
5302,2021-04-27,M&M,EQ,780.50,781.00,787.95,777.00,778.95,778.40,780.97,3624649,2.830752e+14,89345.0,1805342.0,0.4981
5303,2021-04-28,M&M,EQ,778.40,786.00,801.60,778.85,780.50,782.10,791.37,5214319,4.126479e+14,135922.0,2106168.0,0.4039
5304,2021-04-29,M&M,EQ,782.10,788.00,792.05,768.60,774.20,774.60,777.24,3642323,2.830977e+14,96454.0,1341136.0,0.3682
5305,2021-04-30,M&M,EQ,774.60,768.40,778.40,750.45,753.05,752.55,762.26,4466148,3.404374e+14,118997.0,2154503.0,0.4824

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2010-01-08,NESTLEIND,EQ,2512.95,2555.00,2575.0,2475.20,2476.00,2494.65,2529.81,648,1.639316e+11,NaN,438,0.6759
1,2010-01-11,NESTLEIND,EQ,2494.65,2401.00,2515.0,2400.00,2500.00,2498.95,2494.44,825,2.057909e+11,NaN,638,0.7733
2,2010-01-12,NESTLEIND,EQ,2498.95,2540.00,2540.0,2471.35,2505.00,2502.85,2485.22,68346,1.698549e+13,NaN,67695,0.9905
3,2010-01-13,NESTLEIND,EQ,2502.85,2502.85,2540.0,2480.00,2489.80,2489.35,2491.94,1032,2.571682e+11,NaN,718,0.6957
4,2010-01-14,NESTLEIND,EQ,2489.35,2535.00,2595.0,2470.00,2560.00,2568.20,2510.27,330361,8.292956e+13,NaN,329193,0.9965
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2801,2021-04-26,NESTLEIND,EQ,16625.70,16799.05,16895.0,16663.65,16865.30,16870.60,16811.15,152362,2.561380e+14,14294.0,117593,0.7718
2802,2021-04-27,NESTLEIND,EQ,16870.60,16899.00,16930.0,16750.00,16791.00,16779.00,16808.88,44651,7.505333e+13,14171.0,21944,0.4915
2803,2021-04-28,NESTLEIND,EQ,16779.00,16775.00,16831.1,16611.00,16616.05,16633.80,16681.89,86876,1.449256e+14,18998.0,54382,0.6260
2804,2021-04-29,NESTLEIND,EQ,16633.80,16679.00,16714.6,16480.00,16510.00,16502.55,16545.14,80207,1.327036e+14,19768.0,40477,0.5047
2805,2021-04-30,NESTLEIND,EQ,16502.55,16500.00,16569.2,16255.00,16320.20,16309.25,16375.64,97783,1.601259e+14,24063.0,54977,0.5622

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2007-11-27,MUNDRAPORT,EQ,440.00,770.00,1050.00,770.00,959.00,962.90,984.72,27294366,2.687719e+15,NaN,9859619.0,0.3612
1,2007-11-28,MUNDRAPORT,EQ,962.90,984.00,990.00,874.00,885.00,893.90,941.38,4581338,4.312765e+14,NaN,1453278.0,0.3172
2,2007-11-29,MUNDRAPORT,EQ,893.90,909.00,914.75,841.00,887.00,884.20,888.09,5124121,4.550658e+14,NaN,1069678.0,0.2088
3,2007-11-30,MUNDRAPORT,EQ,884.20,890.00,958.00,890.00,929.00,921.55,929.17,4609762,4.283257e+14,NaN,1260913.0,0.2735
4,2007-12-03,MUNDRAPORT,EQ,921.55,939.75,995.00,922.00,980.00,969.30,965.65,2977470,2.875200e+14,NaN,816123.0,0.2741
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235187,2021-04-26,ZEEL,EQ,188.00,190.60,191.10,185.10,186.70,186.40,187.35,8542755,1.600451e+14,52374.0,2340188.0,0.2739
235188,2021-04-27,ZEEL,EQ,186.40,188.00,192.95,186.80,188.80,188.15,189.41,14247767,2.698636e+14,73673.0,5425957.0,0.3808
235189,2021-04-28,ZEEL,EQ,188.15,188.80,190.60,187.10,188.95,189.10,188.85,8429439,1.591917e+14,44056.0,2413974.0,0.2864
235190,2021-04-29,ZEEL,EQ,189.10,190.80,191.65,186.00,186.60,186.55,187.44,9483009,1.777471e+14,60932.0,2744472.0,0.2894
235191,2021-04-30,ZEEL,EQ,186.55,185.30,190.95,183.65,185.00,185.60,187.53,11435285,2.144440e+14,62607.0,3323909.0,0.2907

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2004-11-05,NTPC,EQ,62.00,88.00,88.00,70.00,75.55,75.55,73.12,232535736,1.700363e+15,NaN,115350904,0.4961
1,2004-11-08,NTPC,EQ,75.55,76.80,78.60,75.00,75.15,75.20,76.88,68865277,5.294024e+14,NaN,25571231,0.3713
2,2004-11-09,NTPC,EQ,75.20,75.10,76.10,74.55,75.25,75.30,75.28,37460886,2.820236e+14,NaN,13585363,0.3627
3,2004-11-10,NTPC,EQ,75.30,75.50,75.95,75.00,75.05,75.05,75.32,17413433,1.311585e+14,NaN,7039001,0.4042
4,2004-11-11,NTPC,EQ,75.05,75.35,75.40,74.30,74.60,74.45,74.74,15961426,1.193037e+14,NaN,7286922,0.4565
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4083,2021-04-26,NTPC,EQ,102.55,103.95,103.95,100.85,102.50,102.40,102.08,24369413,2.487514e+14,66644.0,9190471,0.3771
4084,2021-04-27,NTPC,EQ,102.40,102.05,103.55,101.70,101.85,102.05,102.35,17763436,1.818113e+14,49985.0,7220824,0.4065
4085,2021-04-28,NTPC,EQ,102.05,102.85,103.95,102.15,103.60,103.60,103.15,15160578,1.563882e+14,50680.0,7815042,0.5155
4086,2021-04-29,NTPC,EQ,103.60,104.60,105.00,102.65,102.95,103.05,103.70,11588556,1.201737e+14,38532.0,4040332,0.3486
4087,2021-04-30,NTPC,EQ,103.05,102.25,105.65,102.05,102.40,102.45,103.71,15321193,1.588952e+14,48217.0,4597153,0.3001

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,ONGC,EQ,207.70,205.00,214.4,205.00,214.00,213.45,209.91,9600,2.015090e+11,NaN,NaN,NaN
1,2000-01-04,ONGC,EQ,213.45,201.50,209.7,201.00,209.00,206.55,206.26,17900,3.692030e+11,NaN,NaN,NaN
2,2000-01-05,ONGC,EQ,206.55,201.00,223.1,200.50,223.10,223.10,215.46,27000,5.817490e+11,NaN,NaN,NaN
3,2000-01-06,ONGC,EQ,223.10,234.00,234.9,217.60,217.60,219.30,223.42,35600,7.953680e+11,NaN,NaN,NaN
4,2000-01-07,ONGC,EQ,219.30,223.00,223.0,213.00,215.70,215.75,215.19,11400,2.453145e+11,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5301,2021-04-26,ONGC,EQ,102.40,105.25,105.7,102.50,102.80,102.80,103.86,11797791,1.225355e+14,63132.0,3024740.0,0.2564
5302,2021-04-27,ONGC,EQ,102.80,102.80,104.0,102.80,103.30,103.20,103.42,8886250,9.189768e+13,46923.0,3802836.0,0.4279
5303,2021-04-28,ONGC,EQ,103.20,103.75,104.4,103.30,104.05,103.90,103.90,6887787,7.156081e+13,33659.0,2533669.0,0.3678
5304,2021-04-29,ONGC,EQ,103.90,104.90,105.9,103.55,104.30,104.05,104.39,14990087,1.564876e+14,54416.0,4613745.0,0.3078
5305,2021-04-30,ONGC,EQ,104.05,104.15,112.7,103.30,108.20,108.15,109.79,81358264,8.932632e+14,248419.0,15306987.0,0.1881

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2007-10-05,POWERGRID,EQ,52.00,89.80,109.50,83.15,100.20,100.60,102.49,481058927,4.930561e+15,NaN,181390171,0.3771
1,2007-10-08,POWERGRID,EQ,100.60,104.00,104.00,94.85,95.30,95.45,98.12,71252858,6.991616e+14,NaN,22115293,0.3104
2,2007-10-09,POWERGRID,EQ,95.45,95.50,102.85,90.35,102.10,101.95,98.57,65658228,6.471784e+14,NaN,16991920,0.2588
3,2007-10-10,POWERGRID,EQ,101.95,104.60,105.00,102.00,102.65,102.90,103.66,38211410,3.960887e+14,NaN,16409289,0.4294
4,2007-10-11,POWERGRID,EQ,102.90,120.00,120.00,102.00,114.85,114.40,110.78,59805552,6.625235e+14,NaN,17530826,0.2931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3354,2021-04-26,POWERGRID,EQ,211.15,208.20,216.45,208.20,215.75,215.80,213.23,10765892,2.295642e+14,72260.0,3544712,0.3293
3355,2021-04-27,POWERGRID,EQ,215.80,216.05,220.50,215.80,216.40,216.65,217.89,8589721,1.871605e+14,77004.0,2723654,0.3171
3356,2021-04-28,POWERGRID,EQ,216.65,218.80,221.70,216.30,221.35,220.90,219.20,9215766,2.020103e+14,55866.0,3775749,0.4097
3357,2021-04-29,POWERGRID,EQ,220.90,223.10,223.65,219.05,219.80,220.15,220.60,8303610,1.831748e+14,48655.0,3692925,0.4447
3358,2021-04-30,POWERGRID,EQ,220.15,217.75,222.30,216.65,220.35,220.05,220.24,9504624,2.093328e+14,56225.0,4634594,0.4876

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,RELIANCE,EQ,233.05,237.50,251.70,237.50,251.70,251.70,249.37,4456424,1.111319e+14,NaN,NaN,NaN
1,2000-01-04,RELIANCE,EQ,251.70,258.40,271.85,251.30,271.85,271.85,263.52,9487878,2.500222e+14,NaN,NaN,NaN
2,2000-01-05,RELIANCE,EQ,271.85,256.65,287.90,256.65,286.75,282.50,274.79,26833684,7.373697e+14,NaN,NaN,NaN
3,2000-01-06,RELIANCE,EQ,282.50,289.00,300.70,289.00,293.50,294.35,295.45,15682286,4.633254e+14,NaN,NaN,NaN
4,2000-01-07,RELIANCE,EQ,294.35,295.00,317.90,293.00,314.50,314.55,308.91,19870977,6.138388e+14,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5301,2021-04-26,RELIANCE,EQ,1904.35,1920.00,1962.00,1911.50,1938.00,1937.85,1941.32,9620785,1.867699e+15,259137.0,4276703.0,0.4445
5302,2021-04-27,RELIANCE,EQ,1937.85,1940.00,1997.20,1938.25,1990.00,1988.65,1978.64,9226547,1.825602e+15,291197.0,3772144.0,0.4088
5303,2021-04-28,RELIANCE,EQ,1988.65,1997.85,2008.00,1980.15,1993.15,1997.30,1997.60,7902002,1.578508e+15,247331.0,3921560.0,0.4963
5304,2021-04-29,RELIANCE,EQ,1997.30,2022.90,2044.50,2007.30,2020.00,2024.05,2024.21,8035915,1.626634e+15,213153.0,2834103.0,0.3527
5305,2021-04-30,RELIANCE,EQ,2024.05,2008.50,2036.00,1987.55,1995.90,1994.50,2010.20,9150974,1.839532e+15,288687.0,3902504.0,0.4265

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,SBIN,EQ,225.60,236.00,243.65,234.25,243.65,243.65,240.83,2373228,5.715338e+13,NaN,NaN,NaN
1,2000-01-04,SBIN,EQ,243.65,243.65,262.00,238.85,258.00,259.10,251.46,4495741,1.130506e+14,NaN,NaN,NaN
2,2000-01-05,SBIN,EQ,259.10,249.00,264.70,245.00,249.05,248.45,252.35,3434058,8.666008e+13,NaN,NaN,NaN
3,2000-01-06,SBIN,EQ,248.45,252.00,268.00,252.00,260.50,261.00,262.18,6658801,1.745817e+14,NaN,NaN,NaN
4,2000-01-07,SBIN,EQ,261.00,261.50,279.90,255.00,279.00,273.30,269.02,7873985,2.118287e+14,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5301,2021-04-26,SBIN,EQ,336.45,339.25,347.45,339.25,344.80,344.30,345.26,49234985,1.699874e+15,306217.0,11962001.0,0.2430
5302,2021-04-27,SBIN,EQ,344.30,344.00,354.95,342.40,354.20,353.05,349.42,46003023,1.607459e+15,293357.0,9882201.0,0.2148
5303,2021-04-28,SBIN,EQ,353.05,357.00,364.30,356.05,362.90,363.40,361.63,56696255,2.050313e+15,337002.0,13430042.0,0.2369
5304,2021-04-29,SBIN,EQ,363.40,365.00,369.95,355.50,357.45,359.40,361.26,63692926,2.300946e+15,348461.0,10008961.0,0.1571
5305,2021-04-30,SBIN,EQ,359.40,353.45,362.50,350.45,352.30,353.50,357.11,53832840,1.922408e+15,296959.0,13261927.0,0.2464

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,SHREECEM,EQ,63.50,68.00,68.00,63.05,63.60,64.75,65.13,30530,1.988420e+11,NaN,NaN,NaN
1,2000-01-04,SHREECEM,EQ,64.75,65.60,66.00,59.60,59.60,59.85,60.70,23525,1.427920e+11,NaN,NaN,NaN
2,2000-01-05,SHREECEM,EQ,59.85,59.10,61.00,59.00,60.00,60.00,60.03,23535,1.412922e+11,NaN,NaN,NaN
3,2000-01-06,SHREECEM,EQ,60.00,58.10,62.00,58.10,60.65,60.60,60.52,8931,5.404982e+10,NaN,NaN,NaN
4,2000-01-07,SHREECEM,EQ,60.60,60.00,61.95,57.05,60.60,60.45,60.21,5115,3.079580e+10,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4980,2021-04-26,SHREECEM,EQ,28106.30,28249.00,28444.15,27951.05,28050.00,28062.60,28138.76,40346,1.135286e+14,15326.0,11557.0,0.2864
4981,2021-04-27,SHREECEM,EQ,28062.60,28185.70,28325.00,27965.00,28063.20,28098.55,28087.65,31369,8.810815e+13,9763.0,6957.0,0.2218
4982,2021-04-28,SHREECEM,EQ,28098.55,28180.00,28781.00,28105.10,28600.00,28687.55,28506.59,33961,9.681125e+13,11208.0,6496.0,0.1913
4983,2021-04-29,SHREECEM,EQ,28687.55,28701.05,29050.00,28249.40,28495.00,28444.35,28594.99,47589,1.360807e+14,15880.0,15028.0,0.3158
4984,2021-04-30,SHREECEM,EQ,28444.35,28340.00,28432.35,27808.15,27900.00,27910.50,28113.30,32147,9.037584e+13,12546.0,11805.0,0.3672

,Company Name,Industry,Symbol,Series,ISIN Code
0,Adani Ports and Special Economic Zone Ltd.,SERVICES,ADANIPORTS,EQ,INE742F01042
1,Asian Paints Ltd.,CONSUMER GOODS,ASIANPAINT,EQ,INE021A01026
2,Axis Bank Ltd.,FINANCIAL SERVICES,AXISBANK,EQ,INE238A01034
3,Bajaj Auto Ltd.,AUTOMOBILE,BAJAJ-AUTO,EQ,INE917I01010
4,Bajaj Finserv Ltd.,FINANCIAL SERVICES,BAJAJFINSV,EQ,INE918I01018
5,Bajaj Finance Ltd.,FINANCIAL SERVICES,BAJFINANCE,EQ,INE296A01024
6,Bharti Airtel Ltd.,TELECOM,BHARTIARTL,EQ,INE397D01024
7,Bharat Petroleum Corporation Ltd.,ENERGY,BPCL,EQ,INE029A01011
8,Britannia Industries Ltd.,CONSUMER GOODS,BRITANNIA,EQ,INE216A01030
9,Cipla Ltd.,PHARMA,CIPLA,EQ,INE059A01026
10,Coal India Ltd.,METALS,COALINDIA,EQ,INE522F01014
11,Dr. Reddy's Laboratories Ltd.,PHARMA,DRREDDY,EQ,INE089A01023
12,Eicher Motors Ltd.,AUTOMOBILE,EICHERMOT,EQ,INE066A01013
13,GAIL (India) Ltd.,ENERGY,GAIL,EQ,INE129A01019
14,Grasim Industries Ltd.,CEMENT & CEMENT PRODUCTS,GRASIM,EQ,INE047A01021
15,HCL Technologies Ltd.,IT,HCLTECH,EQ,INE860A01027
16,Housing Development Finance Corporation Ltd.,FINANCIAL SERVICES,HDFC,EQ,INE001A01036
17,HDFC Bank Ltd.,FINANCIAL SERVICES,HDFCBANK,EQ,INE040A01034
18,Hero MotoCorp Ltd.,AUTOMOBILE,HEROMOTOCO,EQ,INE158A01026
19,Hindalco Industries Ltd.,METALS,HINDALCO,EQ,INE038A01020
20,Hindustan Unilever Ltd.,CONSUMER GOODS,HINDUNILVR,EQ,INE030A01027
21,ICICI Bank Ltd.,FINANCIAL SERVICES,ICICIBANK,EQ,INE090A01021
22,IndusInd Bank Ltd.,FINANCIAL SERVICES,INDUSINDBK,EQ,INE095A01012
23,Bharti Infratel Ltd.,TELECOM,INFRATEL,EQ,INE121J01017
24,Infosys Ltd.,IT,INFY,EQ,INE009A01021
25,Indian Oil Corporation Ltd.,ENERGY,IOC,EQ,INE242A01010
26,ITC Ltd.,CONSUMER GOODS,ITC,EQ,INE154A01025
27,JSW Steel Ltd.,METALS,JSWSTEEL,EQ,INE019A01038
28,Kotak Mahindra Bank Ltd.,FINANCIAL SERVICES,KOTAKBANK,EQ,INE237A01028
29,Larsen & Toubro Ltd.,CONSTRUCTION,LT,EQ,INE018A01030
30,Mahindra & Mahindra Ltd.,AUTOMOBILE,M&M,EQ,INE101A01026
31,Maruti Suzuki India Ltd.,AUTOMOBILE,MARUTI,EQ,INE585B01010
32,Nestle India Ltd.,CONSUMER GOODS,NESTLEIND,EQ,INE239A01016
33,NTPC Ltd.,ENERGY,NTPC,EQ,INE733E01010
34,Oil & Natural Gas Corporation Ltd.,ENERGY,ONGC,EQ,INE213A01029
35,Power Grid Corporation of India Ltd.,ENERGY,POWERGRID,EQ,INE752E01010
36,Reliance Industries Ltd.,ENERGY,RELIANCE,EQ,INE002A01018
37,State Bank of India,FINANCIAL SERVICES,SBIN,EQ,INE062A01020
38,Shree Cement Ltd.,CEMENT & CEMENT PRODUCTS,SHREECEM,EQ,INE070A01015
39,Sun Pharmaceutical Industries Ltd.,PHARMA,SUNPHARMA,EQ,INE044A01036
40,Tata Motors Ltd.,AUTOMOBILE,TATAMOTORS,EQ,INE155A01022
41,Tata Steel Ltd.,METALS,TATASTEEL,EQ,INE081A01012
42,Tata Consultancy Services Ltd.,IT,TCS,EQ,INE467B01029
43,Tech Mahindra Ltd.,IT,TECHM,EQ,INE669C01036
44,Titan Company Ltd.,CONSUMER GOODS,TITAN,EQ,INE280A01028
45,UltraTech Cement Ltd.,CEMENT & CEMENT PRODUCTS,ULTRACEMCO,EQ,INE481G01011
46,UPL Ltd.,FERTILISERS & PESTICIDES,UPL,EQ,INE628A01036
47,Vedanta Ltd.,METALS,VEDL,EQ,INE205A01025
48,Wipro Ltd.,IT,WIPRO,EQ,INE075A01022
49,Zee Entertainment Enterprises Ltd.,MEDIA & ENTERTAINMENT,ZEEL,EQ,INE256A01028

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,SUNPHARMA,EQ,1699.10,1800.00,1835.05,1760.0,1835.05,1835.05,1825.90,3024,5.521525e+11,NaN,NaN,NaN
1,2000-01-04,SUNPHARMA,EQ,1835.05,1960.00,1960.00,1763.0,1811.50,1810.45,1805.97,5787,1.045115e+12,NaN,NaN,NaN
2,2000-01-05,SUNPHARMA,EQ,1810.45,1845.00,1845.00,1740.0,1745.00,1746.90,1766.69,6105,1.078564e+12,NaN,NaN,NaN
3,2000-01-06,SUNPHARMA,EQ,1746.90,1750.00,1795.00,1735.0,1748.00,1745.20,1749.32,3472,6.073632e+11,NaN,NaN,NaN
4,2000-01-07,SUNPHARMA,EQ,1745.20,1705.00,1705.00,1605.6,1605.60,1605.60,1621.51,4125,6.688740e+11,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5301,2021-04-26,SUNPHARMA,EQ,637.95,644.00,644.00,631.0,633.45,634.70,634.61,6527947,4.142697e+14,102313.0,1899919.0,0.2910
5302,2021-04-27,SUNPHARMA,EQ,634.70,632.70,642.45,632.0,638.00,639.25,636.72,5112384,3.255177e+14,83078.0,1315490.0,0.2573
5303,2021-04-28,SUNPHARMA,EQ,639.25,640.95,647.30,638.3,643.30,643.40,642.77,6069155,3.901097e+14,89304.0,2493978.0,0.4109
5304,2021-04-29,SUNPHARMA,EQ,643.40,648.95,652.00,641.1,646.80,644.50,646.32,5676290,3.668690e+14,94646.0,1201983.0,0.2118
5305,2021-04-30,SUNPHARMA,EQ,644.50,642.00,666.60,640.1,653.75,654.45,655.94,10874266,7.132852e+14,145185.0,2412903.0,0.2219

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,TELCO,EQ,201.60,207.4,217.25,207.40,217.00,216.75,214.28,676126,1.448775e+13,NaN,NaN,NaN
1,2000-01-04,TELCO,EQ,216.75,217.0,219.00,206.00,211.90,208.20,209.50,679215,1.422962e+13,NaN,NaN,NaN
2,2000-01-05,TELCO,EQ,208.20,194.0,217.80,194.00,213.10,213.25,210.33,1120951,2.357684e+13,NaN,NaN,NaN
3,2000-01-06,TELCO,EQ,213.25,215.0,229.90,215.00,222.00,222.10,225.29,1968998,4.435932e+13,NaN,NaN,NaN
4,2000-01-07,TELCO,EQ,222.10,224.0,239.90,223.10,239.90,239.90,236.32,2199431,5.197636e+13,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5301,2021-04-26,TATAMOTORS,EQ,294.00,297.0,299.00,294.60,295.85,295.40,296.48,30583139,9.067386e+14,173282.0,3291167.0,0.1076
5302,2021-04-27,TATAMOTORS,EQ,295.40,295.7,302.50,295.10,302.10,301.50,299.05,35040532,1.047879e+15,191627.0,5215100.0,0.1488
5303,2021-04-28,TATAMOTORS,EQ,301.50,303.5,309.50,303.00,305.15,305.90,307.22,44668126,1.372278e+15,264159.0,5116568.0,0.1145
5304,2021-04-29,TATAMOTORS,EQ,305.90,308.9,310.00,301.25,302.20,301.90,304.77,36647292,1.116900e+15,186996.0,4193346.0,0.1144
5305,2021-04-30,TATAMOTORS,EQ,301.90,298.2,301.30,292.55,293.10,293.85,297.01,36121668,1.072849e+15,227806.0,7898988.0,0.2187

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,TISCO,EQ,142.35,148.00,153.20,146.10,152.50,152.45,150.92,2003185,3.023164e+13,NaN,NaN,NaN
1,2000-01-04,TISCO,EQ,152.45,150.10,153.00,143.05,151.95,150.80,151.03,1555136,2.348785e+13,NaN,NaN,NaN
2,2000-01-05,TISCO,EQ,150.80,144.60,162.90,144.60,158.00,156.55,156.85,3840284,6.023364e+13,NaN,NaN,NaN
3,2000-01-06,TISCO,EQ,156.55,158.95,169.10,158.95,169.00,168.25,167.61,2560449,4.291530e+13,NaN,NaN,NaN
4,2000-01-07,TISCO,EQ,168.25,173.40,179.00,166.30,170.55,171.95,173.89,3641691,6.332459e+13,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5301,2021-04-26,TATASTEEL,EQ,925.60,935.00,956.00,930.05,942.50,940.75,942.98,21234858,2.002407e+15,274958.0,4584617.0,0.2159
5302,2021-04-27,TATASTEEL,EQ,940.75,948.30,983.00,944.30,982.00,977.75,965.43,24904515,2.404346e+15,331493.0,3575969.0,0.1436
5303,2021-04-28,TATASTEEL,EQ,977.75,985.00,986.00,962.00,971.00,971.40,972.08,20447968,1.987700e+15,255599.0,3550908.0,0.1737
5304,2021-04-29,TATASTEEL,EQ,971.40,983.00,1036.95,983.00,1035.00,1031.35,1015.76,44718647,4.542359e+15,554647.0,5539528.0,0.1239
5305,2021-04-30,TATASTEEL,EQ,1031.35,1024.00,1052.60,1011.10,1025.60,1034.00,1031.95,28129738,2.902854e+15,385840.0,3536863.0,0.1257

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2004-08-25,TCS,EQ,850.00,1198.70,1198.70,979.00,985.00,987.95,1008.32,17116372,1.725876e+15,NaN,5206360,0.3042
1,2004-08-26,TCS,EQ,987.95,992.00,997.00,975.30,976.85,979.00,985.65,5055400,4.982865e+14,NaN,1294899,0.2561
2,2004-08-27,TCS,EQ,979.00,982.40,982.40,958.55,961.20,962.65,969.94,3830750,3.715586e+14,NaN,976527,0.2549
3,2004-08-30,TCS,EQ,962.65,969.90,990.00,965.00,986.40,986.75,982.65,3058151,3.005106e+14,NaN,701664,0.2294
4,2004-08-31,TCS,EQ,986.75,986.50,990.00,976.00,987.80,988.10,982.18,2649332,2.602133e+14,NaN,695234,0.2624
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4134,2021-04-26,TCS,EQ,3109.50,3102.05,3153.00,3088.05,3100.05,3100.80,3122.35,2490260,7.775465e+14,87012.0,1345353,0.5402
4135,2021-04-27,TCS,EQ,3100.80,3106.00,3136.10,3103.00,3132.75,3132.00,3122.18,1471417,4.594036e+14,97077.0,849767,0.5775
4136,2021-04-28,TCS,EQ,3132.00,3149.95,3151.00,3112.00,3123.00,3124.10,3125.72,1639037,5.123176e+14,76017.0,847762,0.5172
4137,2021-04-29,TCS,EQ,3124.10,3145.60,3157.35,3105.50,3114.45,3115.25,3130.83,1621395,5.076306e+14,98275.0,837567,0.5166
4138,2021-04-30,TCS,EQ,3115.25,3099.00,3132.05,3020.00,3040.00,3035.65,3063.19,3072305,9.411057e+14,157829.0,1942473,0.6323

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2006-08-28,TECHM,EQ,365.00,521.0,569.0,502.00,553.00,554.25,552.00,15166163,8.371760e+14,NaN,3777529,0.2491
1,2006-08-29,TECHM,EQ,554.25,555.0,563.9,535.55,536.10,539.30,547.59,3929113,2.151530e+14,NaN,727534,0.1852
2,2006-08-30,TECHM,EQ,539.30,537.0,542.9,521.50,529.00,528.10,529.55,2034983,1.077630e+14,NaN,345064,0.1696
3,2006-08-31,TECHM,EQ,528.10,525.0,544.0,515.00,539.35,538.45,532.89,1670990,8.904464e+13,NaN,286440,0.1714
4,2006-09-01,TECHM,EQ,538.45,539.0,549.0,535.10,541.35,541.85,542.46,1176195,6.380386e+13,NaN,213842,0.1818
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3630,2021-04-26,TECHM,EQ,950.20,951.0,970.0,937.00,970.00,962.20,949.75,5053998,4.800042e+14,84936.0,1947524,0.3853
3631,2021-04-27,TECHM,EQ,962.20,962.7,987.6,944.15,968.80,969.25,962.64,10497935,1.010578e+15,209748.0,2147311,0.2045
3632,2021-04-28,TECHM,EQ,969.25,975.0,980.0,968.00,977.90,977.40,974.22,2968625,2.892098e+14,83143.0,1490701,0.5022
3633,2021-04-29,TECHM,EQ,977.40,985.0,985.0,970.55,974.60,976.90,977.28,2747579,2.685149e+14,62023.0,1536386,0.5592
3634,2021-04-30,TECHM,EQ,976.90,973.8,976.9,955.40,958.85,960.40,968.21,3129105,3.029643e+14,70097.0,2104528,0.6726

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,TITAN,EQ,144.95,146.0,156.45,146.00,155.00,155.70,154.36,23000,3.550370e+11,NaN,NaN,NaN
1,2000-01-04,TITAN,EQ,155.70,152.0,152.00,144.00,148.05,147.40,146.72,26300,3.858700e+11,NaN,NaN,NaN
2,2000-01-05,TITAN,EQ,147.40,144.0,148.80,136.00,139.95,138.40,142.95,20600,2.944850e+11,NaN,NaN,NaN
3,2000-01-06,TITAN,EQ,138.40,142.0,149.50,141.00,149.50,149.50,147.87,31600,4.672750e+11,NaN,NaN,NaN
4,2000-01-07,TITAN,EQ,149.50,149.5,153.00,145.00,147.75,146.35,148.63,36600,5.439965e+11,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5301,2021-04-26,TITAN,EQ,1461.45,1470.0,1489.75,1465.15,1478.95,1479.85,1479.58,1020499,1.509913e+14,39416.0,228386.0,0.2238
5302,2021-04-27,TITAN,EQ,1479.85,1485.0,1503.55,1482.00,1498.00,1495.10,1494.21,1145908,1.712228e+14,42363.0,298862.0,0.2608
5303,2021-04-28,TITAN,EQ,1495.10,1505.0,1514.90,1491.70,1509.00,1508.85,1504.73,1037771,1.561564e+14,37985.0,212098.0,0.2044
5304,2021-04-29,TITAN,EQ,1508.85,1524.0,1527.50,1497.00,1504.35,1506.80,1510.30,1927546,2.911181e+14,63568.0,492144.0,0.2553
5305,2021-04-30,TITAN,EQ,1506.80,1500.0,1516.55,1471.00,1489.85,1491.65,1493.26,3691399,5.512201e+14,111986.0,699586.0,0.1895

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2004-08-24,ULTRACEMCO,EQ,10.00,305.00,340.00,253.25,259.00,260.20,268.80,6633956,1.783237e+14,NaN,970249,0.1463
1,2004-08-25,ULTRACEMCO,EQ,260.20,262.00,264.70,249.20,255.00,255.55,255.54,2794161,7.140107e+13,NaN,584835,0.2093
2,2004-08-26,ULTRACEMCO,EQ,255.55,257.75,272.50,256.00,270.10,270.70,267.00,2340926,6.250231e+13,NaN,443707,0.1895
3,2004-08-27,ULTRACEMCO,EQ,270.70,272.00,272.55,260.65,261.35,262.25,264.40,915106,2.419529e+13,NaN,222763,0.2434
4,2004-08-30,ULTRACEMCO,EQ,262.25,263.70,269.00,262.05,267.00,266.10,265.38,387417,1.028108e+13,NaN,84031,0.2169
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4135,2021-04-26,ULTRACEMCO,EQ,6067.90,6131.80,6293.00,6111.25,6270.00,6275.90,6241.84,697792,4.355504e+14,75412.0,184834,0.2649
4136,2021-04-27,ULTRACEMCO,EQ,6275.90,6279.00,6345.90,6235.00,6324.00,6326.80,6300.50,512910,3.231589e+14,59349.0,155832,0.3038
4137,2021-04-28,ULTRACEMCO,EQ,6326.80,6360.00,6405.00,6280.00,6361.55,6360.80,6356.12,414435,2.634198e+14,39443.0,101439,0.2448
4138,2021-04-29,ULTRACEMCO,EQ,6360.80,6420.00,6447.30,6320.40,6410.00,6382.45,6379.16,406869,2.595481e+14,37603.0,72728,0.1788
4139,2021-04-30,ULTRACEMCO,EQ,6382.45,6380.00,6424.00,6233.55,6253.10,6278.95,6340.57,475175,3.012878e+14,38753.0,192320,0.4047

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2004-01-23,UNIPHOS,EQ,10.00,100.00,560.0,100.00,555.1,553.80,483.69,73629,3.561361e+12,NaN,52799.0,0.7171
1,2004-01-27,UNIPHOS,EQ,553.80,570.00,570.0,525.00,530.1,540.35,540.77,26737,1.445851e+12,NaN,17314.0,0.6476
2,2004-01-28,UNIPHOS,EQ,540.35,530.00,565.0,511.00,542.0,538.85,542.24,32155,1.743569e+12,NaN,23285.0,0.7241
3,2004-01-29,UNIPHOS,EQ,538.85,530.00,543.5,504.00,517.0,515.10,529.23,19074,1.009447e+12,NaN,12935.0,0.6781
4,2004-01-30,UNIPHOS,EQ,515.10,519.00,519.0,471.40,485.0,482.95,485.85,23807,1.156659e+12,NaN,12750.0,0.5356
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4282,2021-04-26,UPL,EQ,585.40,587.10,597.9,585.90,590.6,590.65,591.78,3162291,1.871378e+14,46535.0,431594.0,0.1365
4283,2021-04-27,UPL,EQ,590.65,591.10,605.2,589.40,597.0,597.45,598.49,4496811,2.691315e+14,104264.0,1256338.0,0.2794
4284,2021-04-28,UPL,EQ,597.45,602.95,613.7,601.20,607.5,608.05,608.90,4983043,3.034192e+14,65061.0,937294.0,0.1881
4285,2021-04-29,UPL,EQ,608.05,613.40,621.0,609.80,616.5,615.80,615.23,6257014,3.849500e+14,74611.0,1420467.0,0.2270
4286,2021-04-30,UPL,EQ,615.80,610.80,621.0,604.05,606.0,606.90,613.09,3072295,1.883585e+14,42385.0,664774.0,0.2164

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,SESAGOA,EQ,107.70,111.00,116.35,108.00,116.35,116.35,114.80,20371,2.338597e+11,NaN,NaN,NaN
1,2000-01-04,SESAGOA,EQ,116.35,113.75,116.00,108.00,116.00,114.70,113.34,22366,2.534994e+11,NaN,NaN,NaN
2,2000-01-05,SESAGOA,EQ,114.70,107.55,115.85,107.55,114.50,114.00,112.78,18305,2.064361e+11,NaN,NaN,NaN
3,2000-01-06,SESAGOA,EQ,114.00,112.00,123.10,112.00,118.80,119.30,119.89,25800,3.093133e+11,NaN,NaN,NaN
4,2000-01-07,SESAGOA,EQ,119.30,119.85,120.00,114.05,116.50,116.50,116.84,17361,2.028403e+11,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5300,2021-04-26,VEDL,EQ,228.00,229.60,239.70,229.60,236.75,236.65,235.82,16763872,3.953339e+14,70776.0,5690581.0,0.3395
5301,2021-04-27,VEDL,EQ,236.65,239.75,244.55,239.10,243.30,243.35,242.20,15648609,3.790100e+14,80210.0,4760483.0,0.3042
5302,2021-04-28,VEDL,EQ,243.35,243.15,247.70,239.30,242.80,243.90,242.53,13518520,3.278689e+14,62700.0,5077325.0,0.3756
5303,2021-04-29,VEDL,EQ,243.90,245.75,256.50,242.50,255.05,255.05,249.62,25110119,6.268064e+14,110599.0,7367172.0,0.2934
5304,2021-04-30,VEDL,EQ,255.05,255.05,266.20,252.55,255.95,257.25,259.67,21911292,5.689741e+14,117226.0,5687812.0,0.2596

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,WIPRO,EQ,2522.40,2724.00,2724.20,2724.00,2724.20,2724.20,2724.17,1599,4.355942e+11,NaN,NaN,NaN
1,2000-01-04,WIPRO,EQ,2724.20,2942.15,2942.15,2942.15,2942.15,2942.15,2942.15,4392,1.292192e+12,NaN,NaN,NaN
2,2000-01-05,WIPRO,EQ,2942.15,2942.15,3177.55,2715.00,3000.00,2990.10,3063.86,132297,4.053390e+13,NaN,NaN,NaN
3,2000-01-06,WIPRO,EQ,2990.10,3144.70,3183.00,2790.00,2915.00,2932.25,2962.41,72840,2.157822e+13,NaN,NaN,NaN
4,2000-01-07,WIPRO,EQ,2932.25,2751.00,2751.00,2697.70,2697.70,2697.70,2697.95,10110,2.727630e+12,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5301,2021-04-26,WIPRO,EQ,475.70,479.40,483.85,477.00,482.00,480.30,479.77,9314644,4.468927e+14,89443.0,3081057.0,0.3308
5302,2021-04-27,WIPRO,EQ,480.30,481.40,487.00,481.00,483.85,485.05,484.07,7209467,3.489910e+14,112831.0,2548269.0,0.3535
5303,2021-04-28,WIPRO,EQ,485.05,485.85,493.20,481.25,488.65,489.30,487.55,9615534,4.688083e+14,123736.0,3254249.0,0.3384
5304,2021-04-29,WIPRO,EQ,489.30,492.70,492.80,485.70,489.00,489.85,489.45,7641133,3.739989e+14,82446.0,2534352.0,0.3317
5305,2021-04-30,WIPRO,EQ,489.85,491.50,511.80,489.30,492.50,492.75,501.42,29115571,1.459925e+15,252478.0,5182914.0,0.1780

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,ZEETELE,EQ,1092.55,1175.00,1179.95,1160.00,1179.95,1179.95,1177.03,1261391,1.484690e+14,NaN,NaN,NaN
1,2000-01-04,ZEETELE,EQ,1179.95,1220.00,1274.35,1183.10,1274.35,1260.65,1228.02,4616547,5.669220e+14,NaN,NaN,NaN
2,2000-01-05,ZEETELE,EQ,1260.65,1160.55,1317.70,1159.80,1190.95,1176.55,1238.35,8763127,1.085178e+15,NaN,NaN,NaN
3,2000-01-06,ZEETELE,EQ,1176.55,1195.00,1200.00,1095.00,1106.00,1115.45,1135.04,5164020,5.861353e+14,NaN,NaN,NaN
4,2000-01-07,ZEETELE,EQ,1115.45,1097.10,1097.10,1026.25,1026.25,1026.25,1029.94,755129,7.777374e+13,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5301,2021-04-26,ZEEL,EQ,188.00,190.60,191.10,185.10,186.70,186.40,187.35,8542755,1.600451e+14,52374.0,2340188.0,0.2739
5302,2021-04-27,ZEEL,EQ,186.40,188.00,192.95,186.80,188.80,188.15,189.41,14247767,2.698636e+14,73673.0,5425957.0,0.3808
5303,2021-04-28,ZEEL,EQ,188.15,188.80,190.60,187.10,188.95,189.10,188.85,8429439,1.591917e+14,44056.0,2413974.0,0.2864
5304,2021-04-29,ZEEL,EQ,189.10,190.80,191.65,186.00,186.60,186.55,187.44,9483009,1.777471e+14,60932.0,2744472.0,0.2894
5305,2021-04-30,ZEEL,EQ,186.55,185.30,190.95,183.65,185.00,185.60,187.53,11435285,2.144440e+14,62607.0,3323909.0,0.2907

In [3]:
dataframes_list[0]

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2007-11-27,MUNDRAPORT,EQ,440.00,770.00,1050.00,770.00,959.0,962.90,984.72,27294366,2.687719e+15,NaN,9859619,0.3612
1,2007-11-28,MUNDRAPORT,EQ,962.90,984.00,990.00,874.00,885.0,893.90,941.38,4581338,4.312765e+14,NaN,1453278,0.3172
2,2007-11-29,MUNDRAPORT,EQ,893.90,909.00,914.75,841.00,887.0,884.20,888.09,5124121,4.550658e+14,NaN,1069678,0.2088
3,2007-11-30,MUNDRAPORT,EQ,884.20,890.00,958.00,890.00,929.0,921.55,929.17,4609762,4.283257e+14,NaN,1260913,0.2735
4,2007-12-03,MUNDRAPORT,EQ,921.55,939.75,995.00,922.00,980.0,969.30,965.65,2977470,2.875200e+14,NaN,816123,0.2741
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3317,2021-04-26,ADANIPORTS,EQ,725.35,733.00,739.65,728.90,729.2,730.75,733.25,9390549,6.885658e+14,116457.0,838079,0.0892
3318,2021-04-27,ADANIPORTS,EQ,730.75,735.00,757.50,727.35,748.6,749.15,747.67,20573107,1.538191e+15,236896.0,1779639,0.0865
3319,2021-04-28,ADANIPORTS,EQ,749.15,755.00,760.00,741.10,743.4,746.25,751.02,11156977,8.379106e+14,130847.0,1342353,0.1203
3320,2021-04-29,ADANIPORTS,EQ,746.25,753.20,765.85,743.40,746.4,746.75,753.06,13851910,1.043139e+15,153293.0,1304895,0.0942
3321,2021-04-30,ADANIPORTS,EQ,746.75,739.00,759.45,724.50,726.4,730.05,743.35,12600934,9.366911e+14,132141.0,3514692,0.2789

In [32]:
producer = KafkaProducer(bootstrap_servers=['localhost:9092'], #change ip here
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [37]:
for num in range(0,len(dataframes_list)):
    for n in range(0,len(dataframes_list[num])):
        dict_stock = dataframes_list[num].to_dict(orient='records')[n]
        producer.send('stocks',value=dict_stock)

KeyboardInterrupt:

for num in range(1,len(dataframes_list)):
    for n in range(0,len(dataframes_list[num])):
        print(dataframes_list[num].to_dict(orient='records')[n])

In [34]:
len(dataframes_list)

52